<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="title" content="{{ page.title }}">
        <meta name="description" content="{{ page.description }}">
        <meta name="keywords" content="{{ page.keywords }}">

        <meta name="og:title" content="{{ page.title }}">
        <meta name="og:url" content="{{ page.url }}">
        <!-- <meta name="og:image" content="{{ page.logo }}"> -->
        <meta name="og:description" content="{{ page.description }}">

        <meta name="MIT:card" content="summary" />
        <meta name="MIT:site" content="{{ page.url }}" />
        <meta name="MIT:title" content="{{ page.title }}" />
        <meta name="MIT:description" content="{{ page.description }}" />
        <!-- <meta name="MIT:image" content="{{ page.logo }}" /> -->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv='Expires' content='0'>
        <meta http-equiv='Pragma' content='no-cache'>
        <meta http-equiv='Cache-Control' content='no-cache'>
        <meta http-equiv='imagetoolbar' content='no'>

        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/dai-favicon.png" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main-metrics.css">

        <style type="text/css">
            th:not(:first-child) {
                text-align: right;
            }
            td:not(:first-child) {
                text-align: right;
            }
            td:last-child {
                padding-left: 1em;
            }
            .hiddenRow {
                padding: 0 !important;
            }
            tr:hover {
                background-color: #dee2e6 !important;
            }
            .color-green { color: #45c527 }
            .color-red { color: #d31c08 }
        </style>
    </head>
    <body>

        <div class="site">
          <div class="header">
                <h1 class="title"><a href="{{ site.baseurl }}/metrics">DAI Lab OSS Metrics</a></h1>
                <a class="extra" href="{{ site.baseurl }}/">home</a>
            </div>

{% assign monthly_file = page.organization | append: '_monthly' %}
{% assign site_monthly = site.data[monthly_file] | map: page.current_date %}
{% assign previous_date = site_monthly | map: 'previous_date' | first %}

{% assign site_monthly_previous = site.data[monthly_file] | map: previous_date %}

{% capture current_date_format %}{{ page.current_date | date: "%d %b %Y" }}{% endcapture %}
{% capture previous_date_format %}{{ previous_date | date: "%d %b %Y" }}{% endcapture %}
<h4>Monthly org report for <a target="_blank" href="https://github.com/{{page.organization}}">{{page.organization}}</a></h4>
<p class="meta">{{ current_date_format }}</p>
<div class="post">
<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
    <tr>
        <th>Metric</th>
        <th>Latest</th>
        <th>Previous</th>
        <th colspan="2" style="text-align: center;">Difference</th>
    </tr>
    </thead>
    <tbody>

        {% assign current_commit = site_monthly | map: 'commitCount' | first %}
        {% assign pre_commit = site_monthly_previous | map: 'commitCount' | first %}
        {% assign diff_commit = current_commit | minus: pre_commit %}
        {% if diff_commit == pre_commit or diff_commit < 0 %}
            {% assign class_color = "color-red" %}
        {% else %}
            {% assign class_color = "color-green" %}
        {% endif %}
        <tr data-toggle="collapse" data-target="#col-commits" class="accordion-toggle" style="cursor: pointer;">
            <td>Commits</td>
            <td>{{ current_commit }}</td>
            <td>{{ pre_commit }}</td>
            <td class="{{ class_color }}">{{ diff_commit }}</td>
            {% if current_commit == 0 and pre_commit == 0 %}
                {% assign current_commit = 1 %}
                {% assign pre_commit = 1 %}
            {% endif %}
            <td class="{{ class_color }}">{{ diff_commit | times: 100.0 | divided_by: pre_commit | round: 2 }}%</td>
        </tr>
            <td class="hiddenRow" colspan="2"></td>
            <td class="hiddenRow" colspan="3" style="padding: 0">
                <div class="accordian-body collapse" id="col-commits">
                {% for listCate in site.data.categories %}
                    {% for item in listCate %}
                        {% if page.organization == item[0] %}
                            {% for sub_item in item[1] %}
                                {% if sub_item != item[0] %}
                                    {% assign repo_monthly_file = page.organization | append: '__' | append: sub_item  | append: '_monthly' %}
                                    {% assign repo_monthly = site.data[repo_monthly_file] | map: page.current_date %}
                                    {% assign previous_date = repo_monthly | map: 'previous_date' | first %}
                                    {% assign repo_monthly_previous = site.data[repo_monthly_file] | map: previous_date %}

                                    {% assign current_commit_repo = repo_monthly | map: 'commitCount' | first %}
                                    {% assign pre_commit_repo = repo_monthly_previous | map: 'commitCount' | first %}
                                    {% assign diff_commit_repo = current_commit_repo | minus: pre_commit_repo %}
                                    
                                    {% if diff_commit_repo != 0 %}
                                        <a target="_blank" href="{{ site.baseurl }}/metrics/{{ page.organization }}/{{ sub_item }}/MONTHLY">{{ sub_item }} : {{ diff_commit_repo }}</a><br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </td>
        
        {% assign current_issue = site_monthly | map: 'issueCount' | first %}
        {% assign pre_issue = site_monthly_previous | map: 'issueCount' | first %}
        {% assign diff_issue = current_issue | minus: pre_issue %}
        {% if diff_issue == pre_issue or diff_issue < 0 %}
            {% assign class_color = "color-red" %}
        {% else %}
            {% assign class_color = "color-green" %}
        {% endif %}
        <tr data-toggle="collapse" data-target="#col-issues" class="accordion-toggle" style="cursor: pointer;">
            <td>Issues</td>
            <td>{{ current_issue }}</td>
            <td>{{ pre_issue }}</td>
            <td class="{{ class_color }}">{{ diff_issue }}</td>
            {% if current_issue == 0 and pre_issue == 0 %}
                {% assign current_issue = 1 %}
                {% assign pre_issue = 1 %}
            {% endif %}
            <td class="{{ class_color }}">{{ diff_issue | times: 100.0 | divided_by: pre_issue | round: 2 }}%</td>
        </tr>
            <td class="hiddenRow" colspan="2"></td>
            <td class="hiddenRow" colspan="3" style="padding: 0">
                <div class="accordian-body collapse" id="col-issues">
                {% for listCate in site.data.categories %}
                    {% for item in listCate %}
                        {% if page.organization == item[0] %}
                            {% for sub_item in item[1] %}
                                {% if sub_item != item[0] %}
                                    {% assign repo_monthly_file = page.organization | append: '__' | append: sub_item  | append: '_monthly' %}
                                    {% assign repo_monthly = site.data[repo_monthly_file] | map: page.current_date %}
                                    {% assign previous_date = repo_monthly | map: 'previous_date' | first %}
                                    {% assign repo_monthly_previous = site.data[repo_monthly_file] | map: previous_date %}

                                    {% assign current_issue_repo = repo_monthly | map: 'issueCount' | first %}
                                    {% assign pre_issue_repo = repo_monthly_previous | map: 'issueCount' | first %}
                                    {% assign diff_issue_repo = current_issue_repo | minus: pre_issue_repo %}
                                    
                                    {% if diff_issue_repo != 0 %}
                                        <a target="_blank" href="{{ site.baseurl }}/metrics/{{ page.organization }}/{{ sub_item }}/WEEKLY">{{ sub_item }} : {{ diff_issue_repo }}</a><br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </td>
        
        {% assign current_open_issue = site_monthly | map: 'openIssueCount' | first %}
        {% assign pre_open_issue = site_monthly_previous | map: 'openIssueCount' | first %}
        {% assign diff_open_issue = current_open_issue | minus: pre_open_issue %}
        {% if diff_open_issue == pre_open_issue or diff_open_issue < 0 %}
            {% assign class_color = "color-red" %}
        {% else %}
            {% assign class_color = "color-green" %}
        {% endif %}
        <tr data-toggle="collapse" data-target="#col-openIssues" class="accordion-toggle" style="cursor: pointer;">
            <td>Open Issues</td>
            <td>{{ current_open_issue }}</td>
            <td>{{ pre_open_issue }}</td>
            <td class="{{ class_color }}">{{ diff_open_issue }}</td>
            {% if current_open_issue == 0 and pre_open_issue == 0 %}
                {% assign current_open_issue = 1 %}
                {% assign pre_open_issue = 1 %}
            {% endif %}
            <td class="{{ class_color }}">{{ diff_open_issue | times: 100.0 | divided_by: pre_open_issue | round: 2 }}%</td>
        </tr>
            <td class="hiddenRow" colspan="2"></td>
            <td class="hiddenRow" colspan="3" style="padding: 0">
                <div class="accordian-body collapse" id="col-openIssues">
                {% for listCate in site.data.categories %}
                    {% for item in listCate %}
                        {% if page.organization == item[0] %}
                            {% for sub_item in item[1] %}
                                {% if sub_item != item[0] %}
                                    {% assign repo_monthly_file = page.organization | append: '__' | append: sub_item  | append: '_monthly' %}
                                    {% assign repo_monthly = site.data[repo_monthly_file] | map: page.current_date %}
                                    {% assign previous_date = repo_monthly | map: 'previous_date' | first %}
                                    {% assign repo_monthly_previous = site.data[repo_monthly_file] | map: previous_date %}

                                    {% assign current_openissue_repo = repo_monthly | map: 'openIssueCount' | first %}
                                    {% assign pre_openissue_repo = repo_monthly_previous | map: 'openIssueCount' | first %}
                                    {% assign diff_openissue_repo = current_openissue_repo | minus: pre_openissue_repo %}
                                    
                                    {% if diff_openissue_repo != 0 %}
                                        <a target="_blank" href="{{ site.baseurl }}/metrics/{{ page.organization }}/{{ sub_item }}/WEEKLY">{{ sub_item }} : {{ diff_openissue_repo }}</a><br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </td>
        
        {% assign current_closed_issue = site_monthly | map: 'closedIssueCount' | first %}
        {% assign pre_closed_issue = site_monthly_previous | map: 'closedIssueCount' | first %}
        {% assign diff_closed_issue = current_closed_issue | minus: pre_closed_issue %}
        {% if diff_closed_issue == pre_closed_issue or diff_closed_issue < 0 %}
            {% assign class_color = "color-red" %}
        {% else %}
            {% assign class_color = "color-green" %}
        {% endif %}
        <tr data-toggle="collapse" data-target="#col-closedIssues" class="accordion-toggle" style="cursor: pointer;">
            <td>Closed Issues</td>
            <td>{{ current_closed_issue }}</td>
            <td>{{ pre_closed_issue }}</td>
            <td class="{{ class_color }}">{{ diff_closed_issue }}</td>
            {% if current_closed_issue == 0 and pre_closed_issue == 0 %}
                {% assign current_closed_issue = 1 %}
                {% assign pre_closed_issue = 1 %}
            {% endif %}
            <td class="{{ class_color }}">{{ diff_closed_issue | times: 100.0 | divided_by: pre_closed_issue | round: 2 }}%</td>
        </tr>
            <td class="hiddenRow" colspan="2"></td>
            <td class="hiddenRow" colspan="3" style="padding: 0">
                <div class="accordian-body collapse" id="col-closedIssues">
                {% for listCate in site.data.categories %}
                    {% for item in listCate %}
                        {% if page.organization == item[0] %}
                            {% for sub_item in item[1] %}
                                {% if sub_item != item[0] %}
                                    {% assign repo_monthly_file = page.organization | append: '__' | append: sub_item  | append: '_monthly' %}
                                    {% assign repo_monthly = site.data[repo_monthly_file] | map: page.current_date %}
                                    {% assign previous_date = repo_monthly | map: 'previous_date' | first %}
                                    {% assign repo_monthly_previous = site.data[repo_monthly_file] | map: previous_date %}

                                    {% assign current_closedissue_repo = repo_monthly | map: 'closedIssueCount' | first %}
                                    {% assign pre_closedissue_repo = repo_monthly_previous | map: 'closedIssueCount' | first %}
                                    {% assign diff_closedissue_repo = current_closedissue_repo | minus: pre_closedissue_repo %}
                                    
                                    {% if diff_closedissue_repo != 0 %}
                                        <a target="_blank" href="{{ site.baseurl }}/metrics/{{ page.organization }}/{{ sub_item }}/WEEKLY">{{ sub_item }} : {{ diff_closedissue_repo }}</a><br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </td>
        
        {% assign current_pull_request = site_monthly | map: 'pullRequestCount' | first %}
        {% assign pre_pull_request = site_monthly_previous | map: 'pullRequestCount' | first %}
        {% assign diff_pull_request = current_pull_request | minus: pre_pull_request %}
        {% if diff_pull_request == pre_pull_request or diff_pull_request < 0 %}
            {% assign class_color = "color-red" %}
        {% else %}
            {% assign class_color = "color-green" %}
        {% endif %}
        <tr data-toggle="collapse" data-target="#col-pullRequests" class="accordion-toggle" style="cursor: pointer;">
            <td>Pull Requests</td>
            <td>{{ current_pull_request }}</td>
            <td>{{ pre_pull_request }}</td>
            <td class="{{ class_color }}">{{ diff_pull_request }}</td>
            {% if current_pull_request == 0 and pre_pull_request == 0 %}
                {% assign current_pull_request = 1 %}
                {% assign pre_pull_request = 1 %}
            {% endif %}
            <td class="{{ class_color }}">{{ diff_pull_request | times: 100.0 | divided_by: pre_pull_request | round: 2 }}%</td>
        </tr>
            <td class="hiddenRow" colspan="2"></td>
            <td class="hiddenRow" colspan="3" style="padding: 0">
                <div class="accordian-body collapse" id="col-pullRequests">
                {% for listCate in site.data.categories %}
                    {% for item in listCate %}
                        {% if page.organization == item[0] %}
                            {% for sub_item in item[1] %}
                                {% if sub_item != item[0] %}
                                    {% assign repo_monthly_file = page.organization | append: '__' | append: sub_item  | append: '_monthly' %}
                                    {% assign repo_monthly = site.data[repo_monthly_file] | map: page.current_date %}
                                    {% assign previous_date = repo_monthly | map: 'previous_date' | first %}
                                    {% assign repo_monthly_previous = site.data[repo_monthly_file] | map: previous_date %}

                                    {% assign current_pullrequest_repo = repo_monthly | map: 'pullRequestCount' | first %}
                                    {% assign pre_pullrequest_repo = repo_monthly_previous | map: 'pullRequestCount' | first %}
                                    {% assign diff_pullrequest_repo = current_pullrequest_repo | minus: pre_pullrequest_repo %}
                                    
                                    {% if diff_pullrequest_repo != 0 %}
                                        <a target="_blank" href="{{ site.baseurl }}/metrics/{{ page.organization }}/{{ sub_item }}/WEEKLY">{{ sub_item }} : {{ diff_pullrequest_repo }}</a><br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </td>
        
        {% assign current_open_pull_request = site_monthly | map: 'openPullRequestCount' | first %}
        {% assign pre_open_pull_request = site_monthly_previous | map: 'openPullRequestCount' | first %}
        {% assign diff_open_pull_request = current_open_pull_request | minus: pre_open_pull_request %}
        {% if diff_open_pull_request == pre_open_pull_request or diff_open_pull_request < 0 %}
            {% assign class_color = "color-red" %}
        {% else %}
            {% assign class_color = "color-green" %}
        {% endif %}
        <tr data-toggle="collapse" data-target="#col-openPullRequests" class="accordion-toggle" style="cursor: pointer;">
            <td>Open Pull Requests</td>
            <td>{{ current_open_pull_request }}</td>
            <td>{{ pre_open_pull_request }}</td>
            <td class="{{ class_color }}">{{ diff_open_pull_request }}</td>
            {% if current_open_pull_request == 0 and pre_open_pull_request == 0 %}
                {% assign current_open_pull_request = 1 %}
                {% assign pre_open_pull_request = 1 %}
            {% endif %}
            <td class="{{ class_color }}">{{ diff_open_pull_request | times: 100.0 | divided_by: pre_open_pull_request | round: 2 }}%</td>
        </tr>
            <td class="hiddenRow" colspan="2"></td>
            <td class="hiddenRow" colspan="3" style="padding: 0">
                <div class="accordian-body collapse" id="col-openPullRequests">
                {% for listCate in site.data.categories %}
                    {% for item in listCate %}
                        {% if page.organization == item[0] %}
                            {% for sub_item in item[1] %}
                                {% if sub_item != item[0] %}
                                    {% assign repo_monthly_file = page.organization | append: '__' | append: sub_item  | append: '_monthly' %}
                                    {% assign repo_monthly = site.data[repo_monthly_file] | map: page.current_date %}
                                    {% assign previous_date = repo_monthly | map: 'previous_date' | first %}
                                    {% assign repo_monthly_previous = site.data[repo_monthly_file] | map: previous_date %}

                                    {% assign current_openpullrequest_repo = repo_monthly | map: 'openPullRequestCount' | first %}
                                    {% assign pre_openpullrequest_repo = repo_monthly_previous | map: 'openPullRequestCount' | first %}
                                    {% assign diff_openpullrequest_repo = current_openpullrequest_repo | minus: pre_openpullrequest_repo %}
                                    
                                    {% if diff_openpullrequest_repo != 0 %}
                                        <a target="_blank" href="{{ site.baseurl }}/metrics/{{ page.organization }}/{{ sub_item }}/WEEKLY">{{ sub_item }} : {{ diff_openpullrequest_repo }}</a><br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </td>
        
        {% assign current_merged_pull_request = site_monthly | map: 'mergedPullRequestCount' | first %}
        {% assign pre_merged_pull_request = site_monthly_previous | map: 'mergedPullRequestCount' | first %}
        {% assign diff_merged_pull_request = current_merged_pull_request | minus: pre_merged_pull_request %}
        {% if diff_merged_pull_request == pre_merged_pull_request or diff_merged_pull_request < 0 %}
            {% assign class_color = "color-red" %}
        {% else %}
            {% assign class_color = "color-green" %}
        {% endif %}
        <tr data-toggle="collapse" data-target="#col-mergedPullRequests" class="accordion-toggle" style="cursor: pointer;">
            <td>Merged Pull Requests</td>
            <td>{{ current_merged_pull_request }}</td>
            <td>{{ pre_merged_pull_request }}</td>
            <td class="{{ class_color }}">{{ diff_merged_pull_request }}</td>
            {% if current_merged_pull_request == 0 and pre_merged_pull_request == 0 %}
                {% assign current_merged_pull_request = 1 %}
                {% assign pre_merged_pull_request = 1 %}
            {% endif %}
            <td class="{{ class_color }}">{{ diff_merged_pull_request | times: 100.0 | divided_by: pre_merged_pull_request | round: 2 }}%</td>
        </tr>
            <td class="hiddenRow" colspan="2"></td>
            <td class="hiddenRow" colspan="3" style="padding: 0">
                <div class="accordian-body collapse" id="col-mergedPullRequests">
                {% for listCate in site.data.categories %}
                    {% for item in listCate %}
                        {% if page.organization == item[0] %}
                            {% for sub_item in item[1] %}
                                {% if sub_item != item[0] %}
                                    {% assign repo_monthly_file = page.organization | append: '__' | append: sub_item  | append: '_monthly' %}
                                    {% assign repo_monthly = site.data[repo_monthly_file] | map: page.current_date %}
                                    {% assign previous_date = repo_monthly | map: 'previous_date' | first %}
                                    {% assign repo_monthly_previous = site.data[repo_monthly_file] | map: previous_date %}

                                    {% assign current_mergedpullrequest_repo = repo_monthly | map: 'mergedPullRequestCount' | first %}
                                    {% assign pre_mergedpullrequest_repo = repo_monthly_previous | map: 'mergedPullRequestCount' | first %}
                                    {% assign diff_mergedpullrequest_repo = current_mergedpullrequest_repo | minus: pre_mergedpullrequest_repo %}
                                    
                                    {% if diff_mergedpullrequest_repo != 0 %}
                                        <a target="_blank" href="{{ site.baseurl }}/metrics/{{ page.organization }}/{{ sub_item }}/WEEKLY">{{ sub_item }} : {{ diff_mergedpullrequest_repo }}</a><br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </td>
        
        {% assign current_closed_pull_request = site_monthly | map: 'closedPullRequestCount' | first %}
        {% assign pre_closed_pull_request = site_monthly_previous | map: 'closedPullRequestCount' | first %}
        {% assign diff_closed_pull_request = current_closed_pull_request | minus: pre_closed_pull_request %}
        {% if diff_closed_pull_request == pre_closed_pull_request or diff_closed_pull_request < 0 %}
            {% assign class_color = "color-red" %}
        {% else %}
            {% assign class_color = "color-green" %}
        {% endif %}
        <tr data-toggle="collapse" data-target="#col-closedPullRequests" class="accordion-toggle" style="cursor: pointer;">
            <td>Closed Pull Requests</td>
            <td>{{ current_closed_pull_request }}</td>
            <td>{{ pre_closed_pull_request }}</td>
            <td class="{{ class_color }}">{{ diff_closed_pull_request }}</td>
            {% if current_closed_pull_request == 0 and pre_closed_pull_request == 0 %}
                {% assign current_closed_pull_request = 1 %}
                {% assign pre_closed_pull_request = 1 %}
            {% endif %}
            <td class="{{ class_color }}">{{ diff_closed_pull_request | times: 100.0 | divided_by: pre_closed_pull_request | round: 2 }}%</td>
        </tr>
            <td class="hiddenRow" colspan="2"></td>
            <td class="hiddenRow" colspan="3" style="padding: 0">
                <div class="accordian-body collapse" id="col-closedPullRequests">
                {% for listCate in site.data.categories %}
                    {% for item in listCate %}
                        {% if page.organization == item[0] %}
                            {% for sub_item in item[1] %}
                                {% if sub_item != item[0] %}
                                    {% assign repo_monthly_file = page.organization | append: '__' | append: sub_item  | append: '_monthly' %}
                                    {% assign repo_monthly = site.data[repo_monthly_file] | map: page.current_date %}
                                    {% assign previous_date = repo_monthly | map: 'previous_date' | first %}
                                    {% assign repo_monthly_previous = site.data[repo_monthly_file] | map: previous_date %}

                                    {% assign current_closedpullrequest_repo = repo_monthly | map: 'closedPullRequestCount' | first %}
                                    {% assign pre_closedpullrequest_repo = repo_monthly_previous | map: 'closedPullRequestCount' | first %}
                                    {% assign diff_closedpullrequest_repo = current_closedpullrequest_repo | minus: pre_closedpullrequest_repo %}
                                    
                                    {% if diff_closedpullrequest_repo != 0 %}
                                        <a target="_blank" href="{{ site.baseurl }}/metrics/{{ page.organization }}/{{ sub_item }}/WEEKLY">{{ sub_item }} : {{ diff_closedpullrequest_repo }}</a><br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </td>
            
        {% assign current_fork = site_monthly | map: 'forkCount' | first %}
        {% assign pre_fork = site_monthly_previous | map: 'forkCount' | first %}
        {% assign diff_fork = current_fork | minus: pre_fork %}
        {% if diff_fork == pre_fork or diff_fork < 0 %}
            {% assign class_color = "color-red" %}
        {% else %}
            {% assign class_color = "color-green" %}
        {% endif %}
        <tr data-toggle="collapse" data-target="#col-forkCount" class="accordion-toggle" style="cursor: pointer;">
            <td>Forks</td>
            <td>{{ current_fork }}</td>
            <td>{{ pre_fork }}</td>
            <td class="{{ class_color }}">{{ diff_fork }}</td>
            {% if current_fork == 0 and pre_fork == 0 %}
                {% assign current_fork = 1 %}
                {% assign pre_fork = 1 %}
            {% endif %}
            <td class="{{ class_color }}">{{ diff_fork | times: 100.0 | divided_by: pre_fork | round: 2 }}%</td>
        </tr>
            <td class="hiddenRow" colspan="2"></td>
            <td class="hiddenRow" colspan="3" style="padding: 0">
                <div class="accordian-body collapse" id="col-forkCount">
                {% for listCate in site.data.categories %}
                    {% for item in listCate %}
                        {% if page.organization == item[0] %}
                            {% for sub_item in item[1] %}
                                {% if sub_item != item[0] %}
                                    {% assign repo_monthly_file = page.organization | append: '__' | append: sub_item  | append: '_monthly' %}
                                    {% assign repo_monthly = site.data[repo_monthly_file] | map: page.current_date %}
                                    {% assign previous_date = repo_monthly | map: 'previous_date' | first %}
                                    {% assign repo_monthly_previous = site.data[repo_monthly_file] | map: previous_date %}

                                    {% assign current_fork_repo = repo_monthly | map: 'forkCount' | first %}
                                    {% assign pre_fork_repo = repo_monthly_previous | map: 'forkCount' | first %}
                                    {% assign diff_fork_repo = current_fork_repo | minus: pre_fork_repo %}
                                    
                                    {% if diff_fork_repo != 0 %}
                                        <a target="_blank" href="{{ site.baseurl }}/metrics/{{ page.organization }}/{{ sub_item }}/WEEKLY">{{ sub_item }} : {{ diff_fork_repo }}</a><br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </td>
        
        {% assign current_star = site_monthly | map: 'starCount' | first %}
        {% assign pre_star = site_monthly_previous | map: 'starCount' | first %}
        {% assign diff_star = current_star | minus: pre_star %}
        {% if diff_star == pre_star or diff_star < 0 %}
            {% assign class_color = "color-red" %}
        {% else %}
            {% assign class_color = "color-green" %}
        {% endif %}
        <tr data-toggle="collapse" data-target="#col-stargazers" class="accordion-toggle" style="cursor: pointer;">
            <td>Stars</td>
            <td>{{ current_star }}</td>
            <td>{{ pre_star }}</td>
            <td class="{{ class_color }}">{{ diff_star }}</td>
            {% if current_star == 0 and pre_star == 0 %}
                {% assign current_star = 1 %}
                {% assign pre_star = 1 %}
            {% endif %}
            <td class="{{ class_color }}">{{ diff_star | times: 100.0 | divided_by: pre_star | round: 2 }}%</td>
        </tr>
            <td class="hiddenRow" colspan="2"></td>
            <td class="hiddenRow" colspan="3" style="padding: 0">
                <div class="accordian-body collapse" id="col-stargazers">
                {% for listCate in site.data.categories %}
                    {% for item in listCate %}
                        {% if page.organization == item[0] %}
                            {% for sub_item in item[1] %}
                                {% if sub_item != item[0] %}
                                    {% assign repo_monthly_file = page.organization | append: '__' | append: sub_item  | append: '_monthly' %}
                                    {% assign repo_monthly = site.data[repo_monthly_file] | map: page.current_date %}
                                    {% assign previous_date = repo_monthly | map: 'previous_date' | first %}
                                    {% assign repo_monthly_previous = site.data[repo_monthly_file] | map: previous_date %}

                                    {% assign current_star_repo = repo_monthly | map: 'starCount' | first %}
                                    {% assign pre_star_repo = repo_monthly_previous | map: 'starCount' | first %}
                                    {% assign diff_star_repo = current_star_repo | minus: pre_star_repo %}
                                    
                                    {% if diff_star_repo != 0 %}
                                        <a target="_blank" href="{{ site.baseurl }}/metrics/{{ page.organization }}/{{ sub_item }}/WEEKLY">{{ sub_item }} : {{ diff_star_repo }}</a><br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </td>
        
        {% assign current_watcher = site_monthly | map: 'watcherCount' | first %}
        {% assign pre_watcher = site_monthly_previous | map: 'watcherCount' | first %}
        {% assign diff_watcher = current_watcher | minus: pre_watcher %}
        {% if diff_watcher == pre_watcher or diff_watcher < 0 %}
            {% assign class_color = "color-red" %}
        {% else %}
            {% assign class_color = "color-green" %}
        {% endif %}
        <tr data-toggle="collapse" data-target="#col-watchers" class="accordion-toggle" style="cursor: pointer;">
            <td>Watchers</td>
            <td>{{ current_watcher }}</td>
            <td>{{ pre_watcher }}</td>
            <td class="{{ class_color }}">{{ diff_watcher }}</td>
            {% if current_watcher == 0 and pre_watcher == 0 %}
                {% assign current_watcher = 1 %}
                {% assign pre_watcher = 1 %}
            {% endif %}
            <td class="{{ class_color }}">{{ diff_watcher | times: 100.0 | divided_by: pre_watcher | round: 2 }}%</td>
        </tr>
            <td class="hiddenRow" colspan="2"></td>
            <td class="hiddenRow" colspan="3" style="padding: 0">
                <div class="accordian-body collapse" id="col-watchers">
                {% for listCate in site.data.categories %}
                    {% for item in listCate %}
                        {% if page.organization == item[0] %}
                            {% for sub_item in item[1] %}
                                {% if sub_item != item[0] %}
                                    {% assign repo_monthly_file = page.organization | append: '__' | append: sub_item  | append: '_monthly' %}
                                    {% assign repo_monthly = site.data[repo_monthly_file] | map: page.current_date %}
                                    {% assign previous_date = repo_monthly | map: 'previous_date' | first %}
                                    {% assign repo_monthly_previous = site.data[repo_monthly_file] | map: previous_date %}

                                    {% assign current_watcher_repo = repo_monthly | map: 'watcherCount' | first %}
                                    {% assign pre_watcher_repo = repo_monthly_previous | map: 'watcherCount' | first %}
                                    {% assign diff_watcher_repo = current_watcher_repo | minus: pre_watcher_repo %}
                                    
                                    {% if diff_watcher_repo != 0 %}
                                        <a target="_blank" href="{{ site.baseurl }}/metrics/{{ page.organization }}/{{ sub_item }}/WEEKLY">{{ sub_item }} : {{ diff_watcher_repo }}</a><br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </td>
        
    </tbody>
</table>
<p><br /></p>

</div>
<hr>
<p><i>Quick Links</i></p>
<ul>
    <li><a href="{{ site.baseurl }}/metrics/{{page.organization}}">{{ site.baseurl }}/metrics/{{page.organization}}</a></li>
    <li><a href="{{ site.baseurl }}/metrics/{{page.organization}}/WEEKLY">{{ site.baseurl }}/metrics/{{page.organization}}/WEEKLY</a></li>
</ul>
<i>
<p>Report permalink: <a href="{{ site.baseurl }}/metrics/{{page.organization}}/MONTHLY-REPORT-{{ page.current_date }}">{{ site.baseurl }}/metrics/{{page.organization}}/MONTHLY-REPORT-{{ page.current_date }}</a></p>
<p class="meta">Date of "Latest" metrics data used in the report: {{ current_date_format }}</p>
<p class="meta">Date of "Previous" metrics data used in the report: {{ previous_date_format }}</p>
</i>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



          <div class="footer">
                <div class="contact">
                    <p>opensource [at] DAI Lab</p>
                </div>
                <div class="contact">
                    <p>
                        <a href="https://github.com/DAI-Lab/" target="_blank">github.com/DAI-Lab</a>
                    </p>
                </div>
            </div>
        </div>

    </body>
</html>
{% include ga.html %}